* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

html,
body {
    margin: auto;
    background: transparent;
    /* min-width: 100vw;
    min-height: 100vh; */
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

body {
    overflow-x: scroll;
}

video {
    top: 0;
    left: 0;
    min-width: 100vw;
    height: auto;
    object-fit: cover;
    z-index: 0;
    position: absolute;
    filter: grayscale(1);
    transition: filter 3s;
}

video:hover {
    filter: grayscale(0);
    transition: filter 3s;
}


#background-wallpaper {
    /* position: absolute;
    z-index: 0;
    width: auto;
    height: auto;
    min-width: 100vw;
    min-height: 100vh; */

    position: absolute;
    /* min-width: 100vw; */
    width: 100%;
    height: 100%;
    filter: grayscale(1);
}

#background-wallpaper:hover {
    filter: grayscale(0);
    transition: filter 3s;
}


.curriculo {
    margin: auto;
    padding: 0em 5em;
    width: 90em;
    /* height: 55em; */
    /* position: relative; */
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curriculo * {
    animation: enterTransition 1s ease;
}

.curriculo .curriculo-background {
    min-width: 100vw;
    min-height: 100vh;
    filter: grayscale(1);
    transition: filter 1s;
}

.curriculo .curriculo-background:hover {
    filter: grayscale(0);
    transition: filter 1s;
}

/*  ========== Nav ========== */

.nav {
    background: #1d1e20;
    width: 4em;
    height: 42em;
    overflow: hidden;
    position: relative;
    box-shadow: -0.3em 0.3em 1em #000;
}

.nav .nav-bar {
    width: 4em;
    height: 3em;
    background: #1a6eba;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .nav-bar .bar {
    margin: auto;
    width: 1em;
    height: 1em;
    overflow: visible;
}

.nav .icons {
    margin: auto;
    margin-top: 6em;
    width: 4em;
    display: grid;
    grid-template-columns: 1fr;

}

.nav .icons .user-icon,
.nav .icons .tel-icon,
.nav .icons .certification-icon,
.nav .icons .skill-icon,
.nav .icons .project-icon,
.nav .icons .email-icon {
    margin: 2em auto;
    height: 1.5em;
    cursor: pointer;

}

.nav .icons .user-icon .icon,
.nav .icons .tel-icon .icon,
.nav .icons .certification-icon .icon,
.nav .icons .skill-icon .icon,
.nav .icons .project-icon .icon,
.nav .icons .email-icon .icon {
    width: 1.5em;
    height: 1.5em;
}


.nav .icons .user-icon .icon:hover,
.nav .icons .tel-icon .icon:hover,
.nav .icons .certification-icon .icon.icon:hover,
.nav .icons .skill-icon .icon.icon:hover,
.nav .icons .project-icon .icon.icon:hover,
.nav .icons .email-icon .icon.icon:hover {
    scale: 1.5;
}

/*  ========== END Nav ========== */

/* ========== Profile ========== */

.profile {
    background: #1c1c1c;
    width: 28em;
    height: 50em;
    box-shadow: 0em 0.2em 1em 0em rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
}

.profile .profile-image {
    margin: auto;
    background: linear-gradient(to left,
            rgba(28, 28, 28, 0.5),
            rgba(28, 28, 28, 0.5));
    width: 100%;
    height: 47em;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: filter 1s;
}

.profile:hover .profile-image {
    filter: grayscale(0);
}

.profile .profile-name {
    margin: auto;
    top: 20em;
    width: 100%;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    color: #ffffff;
    text-align: center;
    font: 700 2em "Inter", sans-serif;
}

.profile .profile-function {
    margin: 1em auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font: 700 1.2em "Inter", sans-serif;
    text-align: center;
    color: #1a6eba;
}

.profile .profile-icons {
    margin: auto;
    top: 45em;
    width: 100%;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.profile .media-icon {
    margin: auto 1em;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

.profile .media-icon .icon {
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    cursor: pointer;
}

/* ========== END Profile ========== */

/*  ========== About ========== */


.curriculo-background {
    background: transparent;
    width: 90em;
    height: 55em;
    position: absolute;
    left: 0em;
    top: 0em;
}

#about {
    background: #1d1e20;
    width: 45em;
    height: 42em;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    box-shadow: 0.7em 0.3em 1em #000;
}

#about .about-section {
    width: 45em;
    height: auto;
}

#about .about-section .about-title {
    margin: 0.8em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font: 700 2.5em "Inter", sans-serif;
    color: #ffffff;
}

#about .about-section .about-topics {
    margin-left: 2em;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
}

#about .about-section .about-topics .topic {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: 600 1.2em "Inter", sans-serif;
    color: #1a6eba;
}

.about-arrow {
    margin: auto 0.3em;
    width: 0.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: 600 1.2em "Inter", sans-serif;
    color: #6b6b6b;
}

#about .about-section .about-description {
    margin: 1em 2em;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font: 400 1em "Inter", sans-serif;
    color: #6b6b6b;
}

#about .services-title {
    margin: 1em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font: 700 2em "Inter", sans-serif;
    color: #ffffff;
}

.service-title {
    margin: 0.5em 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font: 700 2em "Inter", sans-serif;
    color: #ffffff;
}

#about .services-section {
    width: 45em;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about .services-section .service-development {
    margin: 1em 2em;
    width: 13em;
    height: auto;
}

#about .services-section .service-development .service-icon {
    margin: 1em auto;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

#about .services-section .service-development .service-icon .icon {
    margin-right: 1em;
    width: 2em;
    height: 2em;
}

#about .services-section .service-development .service-title {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    text-align: left;
    font: 700 1.2em "Inter", sans-serif;
    color: #ffffff;
}

#about .services-section .service-development .service-description {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    text-align: left;
    font: 400 1.2em "Inter", sans-serif;
    color: #6b6b6b;
}

/*  ========== END About ========== */

/*  ========== Formation ========== */

#formations {
    background: #1d1e20;
    width: 45em;
    height: 42em;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
    position: relative;
    box-shadow: 0.7em 0.3em 1em #000;
}

#formations .formation-section {
    width: 45em;
    height: auto;
}

.formation-section .formation-title {
    margin: 0.8em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font: 700 2.5em "Inter", sans-serif;
    color: #ffffff;
}

.formation-section .formation-topics {
    margin-left: 2em;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
}


.formation-section .formation-topics .topic {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: 600 1.2em "Inter", sans-serif;
    color: #1a6eba;
}

#formations .institute-section {
    margin: 2em 1em;
    width: auto;
    height: auto;
    /*
    display: grid;
    grid-template-columns: 1fr 1fr;
    */
}

#formations .institute-section .institute-formation {
    margin: 1em;
    height: auto;
}

#formations .institute-section .institute-formation .institute {
    /* width: 18em;*/
    height: auto;
}

#formations .institute-section .institute-formation .institute .formation-icon,
#formations .institute-section .institute-formation .institute .formation-info {
    display: flex;
    flex-direction: row;
}

#formations .institute-section .institute-formation .institute .formation-info div {
    display: flex;
    flex-direction: column;
}

#formations .institute-section .institute-formation .institute .formation-info div .title {
    margin: 1em;
    width: 15em;
    text-align: left;
    font: 700 1em "Inter", sans-serif;
    color: #6b6b6b;
}

#formations .institute-section .institute-formation .institute .formation-info div .description {
    margin: 0.3em 1em;
    width: 20em;
    height: auto;
    text-align: left;
    font: 700 1em "Inter", sans-serif;
    color: #ffffff;
}

#formations .institute-section .institute-formation .institute .formation-icon .icon {
    width: 1.2em;
    height: 1.2em;
}

#formations .institute-section .institute-formation .institute .formation-icon .year {
    margin-left: 1em;
    text-align: left;
    font: 700 1em "Inter", sans-serif;
    color: #ffffff;
}


#formations .institute-section .institute-formation .institute .formation-icon .year:nth-last-child(2) {
    text-align: center;
    font: 700 1.2em "Inter", sans-serif;
    color: #6b6b6b;
}

.certification-title {
    margin: 1.5em 1em;
    text-align: left;
    font: 700 2em "Inter", sans-serif;
    color: #ffffff;
}

/* Progress Bar */

.progress-bar {
    width: 6.5em;
    height: 1.2em;
}

.line-skill {
    border-style: solid;
    border-color: #ffffff;
    border-width: 0.1em 0 0 0;
    width: 6.5em;
    height: 0em;
    position: absolute;
    left: 2.5em;
    top: 14em;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
}

.point-skill {
    width: 1.2em;
    height: 1.2em;
}

.ellipse-1 {
    background: #1d1e20;
    border-radius: 50%;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0.1em;
    width: 1.3em;
    height: 1.3em;
    position: absolute;
    left: 3em;
    top: 17em;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
}

.ellipse-2 {
    background: #ffffff;
    border-radius: 50%;
    width: 0.6em;
    height: 0.6em;
    position: absolute;
    left: 3em;
    top: 17em;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
}

/*  ========== END Formation ========== */

/*  ========== Skills ========== */

#skills {
    background: #1d1e20;
    width: 45em;
    height: 42em;
    overflow: hidden;
    overflow-y: scroll;
    display: none;
    position: relative;
    box-shadow: 0.7em 0.3em 1em #000;
}

.skills-section {
    width: 45em;
    height: auto;
}

.skills-title {
    margin: 0.8em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    text-align: left;
    font: 700 2.5em "Inter", sans-serif;
    color: #ffffff;
}

.skills-section .skills-topics {
    margin-left: 2em;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills-topics .topic {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: 600 1.2em "Inter", sans-serif;
    color: #1a6eba;
}

.skills-developer {
    margin: auto;
    padding: 1em;
    text-align: left;
    font: 700 2.5em "Inter", sans-serif;
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skills-developer .skill {
    margin: 0.6em 0em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.skills-developer .icon {
    width: 2em;
    height: 2em;
}

.skills-developer .title {
    margin-left: 0.6em;
    color: #FFF;
    font-family: Inter;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.skills-developer svg {
    margin: auto 1.5em;
}

/*  ========== END Skills ========== */

/*  ========== Projects ========== */

#projects {
    background: #1d1e20;
    width: 45em;
    height: 42em;
    overflow: hidden;
    overflow-y: scroll;
    display: none;
    position: relative;
    box-shadow: 0.7em 0.3em 1em #000;
}

#projects .projects-section {
    width: 45em;
    height: auto;
}

#projects .projects-section .projects-title {
    margin: 0.8em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font: 700 2.5em "Inter", sans-serif;
    color: #ffffff;
}

#projects .projects-section .projects-topics {
    margin-left: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#projects .projects-section .projects-topics .topic {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: 600 1.2em "Inter", sans-serif;
    color: #1a6eba;
}

#projects .projects-developer {
    width: 45em;
    height: auto;
}

#projects .projects-developer .project {
    margin: 2em;
    height: 9em;
    display: flex;
    flex-direction: row;
    align-items: start;
}

#projects .projects-developer .project a .image {
    width: 10em;
    height: 9em;
    border-radius: 0.6em;
    object-fit: cover;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: filter 1s;
}

#projects .projects-developer .project:hover a .image {
    filter: grayscale(0);
}

#projects .projects-developer .project .project-info {
    margin-left: 1.2em;
    width: 21em;
    height: 7.5em;

}

#projects .projects-developer .project .project-info .project-header {
    display: flex;
    width: 9em;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

#projects .projects-developer .project .project-info .project-header .icon {
    width: 2em;
    height: 2em;
}

#projects .projects-developer .project .project-info .project-header .title {
    margin: auto;
    margin-left: 0.6em;

    color: #FFF;
    font-family: Inter;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#projects .projects-developer .project .project-info .description {
    margin-top: 1.2em;
    color: #6B6B6B;
    font-family: Inter;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*  ========== END Projects ========== */

/*  ========== Email ========== */

#email {
    background: #1d1e20;
    width: 45em;
    height: 42em;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    display: none;
    box-shadow: 0.7em 0.3em 1em #000;
}

#email .email-section {
    width: 45em;
    height: auto;
}

#email .email-section .email-title {
    margin: 0.8em;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font: 700 2.5em "Inter", sans-serif;
    color: #ffffff;
}

#email .email-section .email-topics {
    margin-left: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#email .email-section .email-topics .topic {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: 600 1.2em "Inter", sans-serif;
    color: #1a6eba;
}


#email #register-container {
    width: 45em;
    height: auto;
}

#email #register-container form {
    margin-top: 2em;
    margin-left: 2em;
    width: 95%;
    height: auto;
    flex-direction: column;
}

#email #register-container form .register-info {
    margin: 1em 0em;
    padding: 0.5em;
    width: 95%;
    height: auto;
    background: #252525;
    flex-direction: column;
    border-radius: 0.3em;
    transition: box-shadow 0.3s ease;
}

#email #register-container form .register-info .shadow {
    box-shadow: 0.2em 0.2em 0.6em 0em #1a6eba;
}

#email #register-container form .register-info label {
    margin: 0.5em 0em;
    flex-shrink: 0;
    text-align: left;
    font: 400 1em "Inter", sans-serif;
    color: #C7C7C7;
}

#email #register-container form .register-info .email-info,
#email #register-container form .register-info .subject-info,
#email #register-container form .register-info .body-info {
    margin: 0em;
    width: auto;
    height: auto;
    flex-direction: row;
}

#email #register-container form .register-info .email-info input,
#email #register-container form .register-info .subject-info input,
#email #register-container form .register-info .body-info textarea {
    margin: auto 0em;
    margin-bottom: 0.7em;
    padding-top: 0.6em;
    width: 90%;
    height: auto;
    flex-shrink: 0;
    background: transparent;
    border: none;
    outline: 0;
    text-align: left;
    font: 400 0.8em "Inter", sans-serif;
    color: #C7C7C7;
}

#email #register-container form .register-info .email-info input:focus {
    background: transparent;
    /* Define o fundo como transparente */
}

#email #register-container form .register-info .body-info textarea {
    width: 99%;
    resize: none;
}

#email #register-container form .name-info .register-info .name-info input:focus,
#email #register-container form .register-info .email-info input:focus,
#email #register-container form .register-info .subject-info input:focus,
#email #register-container form .register-info .body-info textarea:focus {
    color: #1a6eba;
}

#email #register-container form .register-info .email-info img,
#email #register-container form .register-info .subject-info img {
    margin: 0em 0.7em;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
}

#email #register-container form .register-info div {
    display: flex;
    justify-content: space-between;
}

#email #register-container form .register-info div img {
    margin: auto 0.6em;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
}

#email #register-container form button {
    width: 100%;
    height: 1.5em;
    flex-shrink: 0;
    border-radius: 0.5em;
    background: #1a6eba;
    border: none;
    justify-content: center;
    align-items: center;

    text-align: center;
    font: 400 1em "Inter", sans-serif;
    color: #FFF;
}

#email #register-container form .buttons {
    margin: 1em 0em;
}

#email #register-container form .buttons button {
    width: 95%;
    height: 2.5em;
    flex-shrink: 0;
    border-radius: 0.5em;
    background: #1a6eba;
    border: none;
    color: #FFF;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

#email #register-container form .buttons button a {
    text-decoration: none;
}

#email #register-container form .buttons button:nth-child(0) {
    background: #2D2D2D;
}

button:hover {
    cursor: pointer;
}

/*  ========== END Email ========== */

::-webkit-scrollbar {
    width: 0.6em;
    height: 0.6em;
}

::-webkit-scrollbar-thumb {
    background: #333;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}

::-webkit-scrollbar-thumb:active {
    background: #1a6eba;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-track:hover {
    background: transparent;
}

::-webkit-scrollbar-button {
    display: none;
}

@keyframes enterTransition {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Responsividade */


@media screen and (max-width:600px) {

    #about,
    #formations,
    #skills,
    #projects,
    #email {
        width: 32em;
    }

    #about .about-section {
        width: 25em;
    }

    #about .services-section {
        grid-template-columns: 1fr;
    }

    #about .services-section .service-development {
        width: 20em;
    }

    .skills-developer {
        padding: 0.5em 1em;
        grid-template-columns: 1fr;
    }

    #projects .projects-developer .project {
        margin: 3em 2em;
        width: 25em;
    }

    #email #register-container {
        width: 32em;
    }

}